:root {
  --primary-background-color: hsl(185, 75%, 39%);
  --primary-font-color: hsl(229, 23%, 23%);
  --secondary-font-color: hsl(227, 10%, 46%);
  --large-font-size: 1.8rem;
  --medium-font-size: 1.4rem;
  --small-font-size: 1.2rem;
}

.kumbh-sans-primary-font-family {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-variation-settings: "YOPQ" 300;
}

.kumbh-sans-primary-font-family--bold {
  font-weight: 700;
}

body {
  background-color: var(--primary-background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-image {
  position: absolute;
  z-index: -1;
}

.bg-image__top {
  right: 50vw;
  bottom: 50vh;
}

.bg-image__bottom {
  left: 50vw;
  top: 50vh;
}

.card {
  width: 90%;
  max-width: 375px;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__banner {
  border-radius: 14px 14px 0 0;
  width: 100%;
}

.card__header {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.card__profile-image {
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  top: 65%;
}

.card__body {
  width: 100%;
  text-align: center;
  line-height: 2;
  font-size: var(--large-font-size);
  border-bottom: 1px solid hsl(0, 2%, 83%);
  padding-bottom: 24px;
}

.card__profile-name {
  margin-right: 4px;
  color: #000000;
}

.card__profile-country {
  font-size: var(--medium-font-size);
}

.card__profile-info,
.card__profile-country {
  color: var(--secondary-font-color);
}

.card__footer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  margin: 24px 0;
  font-size: var(--large-font-size);
}

.card__engagement-text {
  font-size: var(--small-font-size);
  color: var(--secondary-font-color);
  letter-spacing: 2px;
}

.attribution {
  position: absolute;
  bottom: 10px;
  font-size: 1.6rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (width >= 1440px) {
  .bg-image__bottom {
    left: 60vw;
  }
}
